/* 
    Created on : Jul 9, 2016, 10:49:26 AM
    Author     : Bruce Schubert
*/
.branding-icon {
    width: 48px;
    height: 48px;
}

.branding-icon:before {
    content: url("images/nasa-logo_48.png");
    display: inline;
}

.ww-banner-image {
    background: url("images/banner-1400x320.png") no-repeat center;
}

/*
======================================
Overriding foundation css starts here
======================================
*/
@font-face {
    font-family: HelvNeue;
    /*src: url(HelveticaNeue-Thin.otf);*/
}

h1.home-h1 {
    font-size: 36px;
    margin: 21px 0px 0px 0px;
}

h2.home-h2 {
    color: #4d7064;
    font-size: 36px;
    line-height: 26px;
    padding: 50px 0px 30px 0px;
    text-align: center;
    margin: 0px;
}

h3.home-h3 {
    color: #4d7064;
    font-size: 24px;
    line-height: 26px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: 0px;
}

h3.dash-h3 {
    /*font-size: 24px;*/
    /*line-height: 26px;*/
    padding: 0px 0px 0px 0px;
    margin: 0px;
}

h1.home-h1, h2.home-h2, h3.home-h3, h4.home-h4, h5.home-h5, h6.home-h6 {
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizelegibility;
}

.headerContent h1.home-h1 {
    width: 100%;
    margin: 68px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 100;
    color: #2e3432;
    line-height: 36px;
    position: relative;
}

.headerContent h6.home-h6 {
    color: #212121;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0px 0px 0px;
}

.jumboBtnCont {
    margin: 0px 0px 14px 0px;
    display: inline-block;
}

.jumboBtnCont.sfull, .jumboBtnCont.sfull .jetBtn, .jumboBtnCont.shalf .jetBtn {
    width: 100%;
    padding: 0px;
}

.jumboBtnCont.shalf {
    width: 49%;
}

.jetBtnExp {
    background: transparent;
    color: #000000;
    border: none;
    font-size: 12px;
    line-height: 21px;
    padding: 0px;
    clear: both;
    width: 100%;
}

.jumboBtnCont.sfull, .jumboBtnCont.sfull .jetBtn, .jumboBtnCont.shalf .jetBtn {
    width: 100%;
    padding: 0px;
}

.jetBtnExp {
    background: transparent;
    color: #000000;
    border: none;
    font-size: 12px;
    line-height: 21px;
    padding: 0px;
    clear: both;
    width: 100%;
}

a.jetBtn, a.jetBtnExp, a.jetBtn:hover {
    background: linear-gradient(#0470c9 0%, #0571cd 50%, #0479d8 100%);
    border-radius: 2px;
    border: 1px solid #0476d3;
    color: #ffffff;
    font-size: 14px;
    padding: 0px 20px;
    line-height: 42px;
    float: left;
    text-align: center;
    text-decoration: none;
}

a.jetBtnExp {
    background: transparent;
    color: #ffffff;
    border: none;
    font-size: 12px;
    line-height: 21px;
    padding: 0px;
    clear: both;
    width: 100%;
}

.justifiedCol {
    max-width: 1080px;
    width: auto;
    margin: 0px auto;
    padding: 0px 10px 0px 20px;
    overflow: hidden;
}

p.home-ptag, center.home-center {
    color: #454545;
    font-size: 15px;
    line-height: 33px;
    margin-left: 10px;
}

p.demo-code {
    line-height: 22px;
    font-size: 14px;
    margin-right: 20px;
    padding: 10px;
    font-family: monospace;
}

.oj-web-applayout-header {
    background-color: #FFFFFF;
    opacity: 1.0;
    /*	max-height: 64px;*/
}

/* Adds padding between logo and application name */
html:not([dir="rtl"]) .branding-icon {
    padding-right: 4px;
}

html[dir="rtl"] .branding-icon {
    padding-left: 4px;
}

.home-tile {
    font-weight: bold;
}

.home-scroll-container {
    overflow: auto;
}

.demo-avatar-icon {
    width: 24px;
    height: 24px;
}

.demo-avatar-icon:before {
    content: url("images/avatar_24px.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .demo-avatar-icon:before {
        content: url("images/avatar_24px_2x.png");
        -webkit-transform: translate(-25%, -25%) scale(0.5);
        transform: translate(-25%, -25%) scale(0.5)
    }
}

