# Documentation about this file can be located here:
# https://docs.github.com/en/github/getting-started-with-github/getting-started-with-git/configuring-git-to-handle-line-endings
* text=auto

*.js text
*.css text
*.html text
*.txt text

*.svg binary
*.eot binary
*.woff binary