<h1>Get Started</h1>
<div class="oj-flex oj-flex-item-pad oj-sm-12 ">
    <div class="oj-sm-4 oj-md-3 oj-lg-2 oj-flex-item" data-bind="ojComponent:{
                        component: 'ojNavigationList',
                        drillMode: 'collapsible',
                        item: {selectable: itemOnly},
                        selection: selectedItem}">
        <ul>
            <li id="AndroidQuickStartOverview">
                <a href="#">Overview</a>
            </li>
            <li id="setup">
                <a href="#">Setup</a>
                <ul>
                    <li id="AndroidQuickStartInstall">
                        <a href="#">Install</a>
                    </li>
                    <li id="AndroidQuickStartBuild">
                        <a href="#">Build</a>
                    </li>
                    <li id="AndroidQuickStartRun">
                        <a href="#">Run</a>
                    </li>
                </ul>

            <li id="tutorials">
                <a href="#">Tutorials</a>
                <ul>
                    <li id="AndroidTutorialBasicGlobe">
                        <a href="#">Basic Globe</a>
                    </li>
                    <li id="AndroidTutorialWmsLayer">
                        <a href="#">WMS Layer</a>
                    </li>
                    <li id="AndroidTutorialSurfaceImage">
                        <a href="#">Surface Image</a>
                    </li>
                    <li id="AndroidTutorialCameraView">
                        <a href="#">Camera View</a>
                    </li>
                    <li id="AndroidTutorialLookAtView">
                        <a href="#">Look At View</a>
                    </li>
                    <li id="AndroidTutorialNavigatorEvents">
                        <a href="#">Navigator Events</a>
                    </li>
                    <li id="AndroidTutorialPlacemarkPicking">
                        <a href="#">Placemark Picking</a>
                    </li>
                    <li id="AndroidTutorialPlacemarks">
                        <a href="#">Placemarks</a>
                    </li>
                    <li id="AndroidTutorialCameraControls">
                        <a href="#">Camera Controls</a>
                    </li>
                    <li id="AndroidTutorialShowTessellation">
                        <a href="#">Show Tessellation</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!--
    Bind the contents to the navigation menu selection
    -->
    <div id="android-quickstart-content" class="oj-sm-8 oj-md-9 oj-lg-10 oj-flex-item"
         data-bind="ojModule: selectedItem">
    </div>
</div>
