<div class="oj-panel" style="width: 100%;">

    <h1 class="oj-header-border">Important Links</h1>
    <ul>
        <li>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid" target="_blank">
                Source code</a> on GitHub</li>
        <li>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/issues" target="_blank">
                Issue tracker</a> for World Wind Android</li>
        <li>
            <a href="https://developer.android.com/index.html" target="_blank">
                Android Developer's Guide</a></li>
    </ul> 
</div>