<div class="oj-panel">
    <h1>Show Tessellation Tutorial</h1>
    <img src="images/show-tessellation.png" class="screenshot"/>

    <p>
        Demonstrates the globe's Tessellator.
    </p>
    <p>
        This example adds a layer to the basic globe that shows the tessellation.
    </p>

    <h2>Example</h2>
    <h3>ShowTessellationFragment.java</h3>
    <p>
        The ShowTessellationFragment class extends the BasicGlobeFragment and overrides the createWorldWindow method.
        Here we simply add an additional ShowTessellationLayer to the globe.
    </p>
    <img src="images/show-tessellation-classes.png" class="class-diagram"/>
    <div style="border-top: 1px solid black; border-bottom: 1px solid black;">
    <textarea id="java-code">
public class ShowTessellationFragment extends BasicGlobeFragment {

    /**
     * Creates a new WorldWindow with a additional tessellation layer.
     */
    @Override
    public WorldWindow createWorldWindow() {
        // Let the super class (BasicGlobeFragment) do the creation
        WorldWindow wwd = super.createWorldWindow();

        // Create a layer that displays the globe's tessellation geometry.
        ShowTessellationLayer layer = new ShowTessellationLayer();
        wwd.getLayers().addLayer(layer);

        return wwd;
    }
}
    </textarea>
    </div>
</div>