<div class="oj-panel">
    <h1 class="oj-header-border">Overview</h1>
    <div>
        <p><em>Copied from old Android page</em></p>
        <p><strong>TODO: update content</strong></p>

        <p>Though others have generously contributed their Android virtual globe based on World Wind, currently for the
            NASA release, we merely have something that displays the globe with elevations, retrieves and caches imagery
            and elevations from the WW WMS servers, and allows you to manipulate the globe via a multi-touch interface.
            We’ve taken some liberties with the WW API in order to simply get started and to find optimal performance.
            Once we get farther along we’ll know better how much we’ll have to deviate from current interfaces. Our hope
            is, not much.</p>
        <ul>
            <li><a title="Get Started" href="https://goworldwind.org/android/get-started-with-worldwindandroid/">Get
                Started</a> shows you how to download and run World Wind Android
            </li>
            <li><a title="Android Demos" href="https://goworldwind.org/android/android-demos/">Android Demos</a>
                showcases World Wind Android applications
            </li>
            <li><a title="QinetiQ" href="https://goworldwind.org/android/qinetiq/">QinetiQ</a> features resources and
                source code for QinetiQ&#8217;s QGlobe
            </li>
            <li><a href="http://www.trilogis.it/?portfolio=3ddroid&amp;lang=en">WorldDroid</a> features resources and
                source for Trilogis’ WorldDroid3
            </li>
        </ul>
        <p>Other Important Sites</p>
        <ul>
            <li><a title="Daily Builds" href="http://builds.worldwind.arc.nasa.gov/android-download-release-daily.asp"
                   target="_blank">Daily Builds</a> has the World Wind Android SDK daily builds
            </li>
            <li><a title="Forum" href="http://forum.worldwindcentral.com/forumdisplay.php?f=50"
                   target="_blank">Forum</a> provides help from the World Wind community
            </li>
            <li><a title="API Docs"
                   href="http://builds.worldwind.arc.nasa.gov/worldwindandroid-releases/daily/docs/api/index.html"
                   target="_blank">API Docs</a> gives World Wind Android details for developers
            </li>
            <li><a title="Subversion" href="http://worldwind31.arc.nasa.gov/svn/" target="_blank">Subversion</a>
                contains the most up-to-date World Wind Android source code
            </li>
        </ul>
    </div><!-- .entry-content -->


</div>
