<div class="oj-panel" style="width: 100%;">

    <h1 class="oj-header-border">Examples</h1>
    <p>Here is a description of of Activities present in the <a
            href="https://github.com/NASAWorldWind/WorldWindAndroid/tree/master/worldwind-examples/src/main/java/gov/nasa/worldwindx">worldwind-examples
        module</a> in GitHub. Download the try out the <a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases/v0.5.0/worldwind-examples.apk">World Wind Examples</a> app for Android devices
        (worldwind-examples.apk)</p>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>General Purpose Globe</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/BasicGlobeActivity.java">
                <img src="images/general-purpose-globe.png" class="screenshot"/>
                <h3>BasicGlobeActivity.java</h3>
            </a>
            <p>
                Demonstrates how....
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Placemarks Demonstration</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksDemoActivity.java">
                <img src="images/placemarks-demonstration.png" class="screenshot"/>
                <h3>PlacemarksDemoActivity.java</h3>
            </a>
            <p>
                Demonstrates how...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Placemarks Select and Drag</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksSelectDragActivity.java">
                <img src="images/placemark-select-and-drag.png" class="screenshot"/>
                <h3>PlacemarksSelectDragActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>MIL-STD-2525 Placemarks</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksMilStd2525Activity.java">
                <img src="images/milstd2525-placemarks.png" class="screenshot"/>
                <h3>PlacemarksMilStd2525Activity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>MIL-STD-2525 Demonstration</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksMilStd2525DemoActivity.java">
                <img src="images/milstd2525-demonstration.png" class="screenshot"/>
                <h3>PlacemarksMilStd2525DemoActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Paths Example</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PathsExampleActivity.java">
                <img src="images/paths-example.png" class="screenshot"/>
                <h3>PathsExampleActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Day Night Cycle</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/DayNightCycleActivity.java">
                <img src="images/day-night-cycle.png" class="screenshot"/>
                <h3>DayNightCycleActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Basic Stress Test</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/BasicStressTestActivity.java">
                <img src="images/basic-stress-test.png" class="screenshot"/>
                <h3>BasicStressTestActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Basic Performance Benchmark</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/BasicPerformanceBenchmarkActivity.java">
                <img src="images/basic-performance-benchmark.png" class="screenshot"/>
                <h3>BasicPerformanceBenchmarkActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Placemarks Stress Test</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksSelectDragActivity.java">
                <img src="images/placemarks-stress-test.png" class="screenshot"/>
                <h3>PlacemarksSelectDragActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>MIL-STD-2525 Stress Test</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/PlacemarksMilStd2525StressActivity.java">
                <img src="images/milstd2525-stress-test.png" class="screenshot"/>
                <h3>PlacemarksMilStd2525StressActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
        <div class="oj-panel oj-margin oj-flex-item">
            <h2>Texture Stress Test</h2>
            <a href="https://github.com/NASAWorldWind/WorldWindAndroid/blob/master/worldwind-examples/src/main/java/gov/nasa/worldwindx/TextureStressTestActivity.java">
                <img src="images/texture-stress-test.png" class="screenshot"/>
                <h3>TextureStressTestActivity.java</h3>
            </a>
            <p>
                Demonstrates how ...
            </p>
        </div>
    </div>
</div>