<div class="oj-panel">
    <h1 class="oj-header-border">Overview</h1>
    <div>
        <p>World Wind Android is a 3D virtual globe API for Android. You can use 
            it to provide a geographic context, complete with terrain, for visualizing 
            geographic or geo-located information.</p>
        <p>World Wind Android provides high-resolution terrain and imagery, retrieved 
            from remote servers automatically as needed. You can also provide your own 
            terrain and imagery. World Wind Android additionally provides a rich collection 
            of shapes that you can use to represent information on the globe or in space.</p>
        <p>The <a data-bind="click: $parent.selectedItem.bind($data, 'install')" href="#" title="Setup">
            Setup</a> section gets you up and running with World Wind Android as quick 
            as possible.</p>
        <ul class="oj-ul">
            <li><a data-bind="click: $parent.selectedItem.bind($data, 'install')" href="#" title="Install">
                Install</a> shows you how to install and configure the Android development 
                environment. </li>
            <li><a data-bind="click: $parent.selectedItem.bind($data, 'build')" href="#" title="Build">
                Build</a> shows you to how to add the World Wind library to an Android 
                application, and how build the World Wind Android SDK should you wish 
                to customize its behavior.</li>
            <!--  
            <li>
            <a data-bind="click: $parent.selectedItem.bind($data, 'run')" href="#" title="Run">
            Run</a> demonstrates how to deploy, run and monitor your Android application 
            on a device or emulator. </li>
            -->
        </ul>
        <p><a data-bind="click: $parent.selectedItem.bind($data, 'basicglobe')" href="#" title="Tutorials">
            Tutorials</a> section provides a collection of examples that demonstrate several 
            core concepts for developing World Wind Android applications. You can 
            download and install the Tutorials app on your Android device and learn
            the essentials.
        </p>
        <p><a data-bind="click: $parent.selectedItem.bind($data, 'examples')" href="#" title="Examples">
            Examples</a> is a collection of Activities that showcase the 
            capabilities of the World Wind Android SDK. You can 
            download and install the Examples app on your Android device and explore
            the SDK's basic functionality.</p>

    </div>
</div>
