<div class="oj-panel" style="width: 100%;">
    <h1 class="oj-header-border">Downloads</h1>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-panel oj-margin" style="width: 400px">
            <h3 class="oj-header-border">
                Latest Release
            </h3>
            <p>Looking for the current release?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases/latest">
                        Download release <span data-bind="text: latest"></span></a> 
                </li>
            </ul>
            <p><span data-bind="text: latest"></span> is the latest 'tagged' 
                release of the World Wind Android SDK including the Examples and Tutorials.</p>
        </div>
        <div class="oj-panel oj-margin" style="width: 400px">
            <h3 class="oj-header-border">
                Production Artifacts
            </h3>
            <p>Do you want to preview the next release?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases/stable">
                        Download production artifacts</a></li>
            </ul>
            <p>'Prerelease' artifacts for the next release are built from the
                master branch and include the Examples, Tutorials, SDK and API.</p>
        </div>
        <div class="oj-panel oj-margin" style="width: 400px">
            <h3 class="oj-header-border">
                Development Artifacts
            </h3>
            <p>Interested in beta testing?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases/development">
                        Download development artifacts</a></li>
            </ul>
            <p>Development artifacts are 'beta' versions of the Examples, 
                Tutorials and the SDK built from the develop branch.</p>
        </div>
        <div class="oj-panel oj-margin" style="width: 400px">
            <h3 class="oj-header-border">
                Previous Releases
            </h3>
            <p>Looking for a previous release?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases">
                        Browse the releases</a></li>
            </ul>
            <p>Review the release history.</p>
        </div>
    </div>
</div>