<div class="oj-panel">
    <h1 class="oj-header-border">Overview</h1>
    <div>
        <p> World Wind Android is a 3D virtual globe API for Android. You can use it to
            provide a geographic context, complete with terrain, for visualizing geographic
            or geo-located information.</p>
        <p> World Wind Android provides high-resolution terrain
            and imagery, retrieved from remote servers automatically as needed. You can
            also provide your own terrain and imagery. World Wind Android additionally
            provides a rich collection of shapes that you can use to represent information
            on the globe or in space.</p>
        <ul>
            <li>The <a title="Setup" href="#"
                       data-bind="click: $parent.selectedItem.bind($data, 'AndroidQuickStartInstall')">Setup</a>
                section gets you up and running with World Wind Android as quick as possible.
                <ul>
                    <li><a title="Install" href="#"
                           data-bind="click: $parent.selectedItem.bind($data, 'AndroidQuickStartInstall')">Install</a>
                        shows you how to install and configure the Android development environment.
                    </li>
                    <li><a title="Build" href="#"
                           data-bind="click: $parent.selectedItem.bind($data, 'AndroidQuickStartBuild')">Build</a>
                        shows you to build the World Wind Android SDK and how to add the library to an Android
                        application.
                    </li>
                    <li><a title="Run" href="#"
                           data-bind="click: $parent.selectedItem.bind($data, 'AndroidQuickStartRun')">Run</a>
                        demonstrates how deploy and run your Android application on a device or emulator.
                    </li>
                </ul>
            </li>

            <li><a title="Tutorials" href="#"
                   data-bind="click: $parent.selectedItem.bind($data, 'AndroidTutorialBasicGlobe')">Tutorials</a>
                provides examples and core concepts for developing World Wind Android applications.
            </li>
        </ul>
    </div>
</div>
