<div class="oj-panel">
    <h1 class="oj-header-border">Build</h1>

    <h2>How to build a basic World Wind Android 'app'</h2>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 1: Create a new Android Studio project</h3>
            <div>
            <ol class="oj-ol">
                <li>Select File &gt; New &gt; New Project... to run the new project wizard
                <li>Configure your new project:
                    <ul>
                        <li>You can use the default values
                    </ul>
                <li>Select the form factors your app will run on:
                    <ul>
                        <li>Choose Phone/Tablet</li>
                        <li>Choose Minimum SDK: API 19: Android 4.4 (KitKat)</li>
                    </ul>
                </li>
                <li>Add an Activity
                    <ul>
                        <li>Choose an Empty Activity</li>
                    </ul>
                </li>
                <li>&nbsp;Customize the Activity:
                    <ul>
                        <li>You can use the default values</li>
                        <li>Activity Name: MainActivity</li>
                        <li>Generate Layout File: checked</li>
                        <li>Layout Name: activity_main</li>
                    </ul>
                </li>
            </ol>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 2: Run the 'app' to verify it works</h3>
            <div>
                <img src="images/hello-world-app.png" width="200px" style="float:left; margin-right: 20px"/>
                <div>
                <ol class="oj-ol">
                    <li>Select Run > Run 'app'</li>
                    <li>Choose an Available Emulator or Device and select OK</li>
                    <li>If Required, create a new emulator to run the 'app'</li>
                        <ul>
                            <li>Select hardware device: Default Nexus 5x</li>
                            <li>Select and download a System Image: Default: Marshmallow (wait for
                                download to complete)
                            </li>
                            <li>Configure Android Virtual Device (AVD)</li>
                        </ul>
                </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 3: Add the WorldWind library to your project</h3>
            <div>
                <div class="jumboBtnCont">
                    <a class="jetBtn" href="http://worldwindserver.net/android/latest/worldwind.aar">
                        Download the WorldWind Library</a>
                </div>
                <ol class="oj-ol">
                    <li><a href="http://worldwindserver.net/android/latest/worldwind.aar">Download</a> the
                        WorldWind Library for Android (worldwind.aar)
                    </li>
                    <li>Add a new Module to your project</li>
                    <ul>
                        <li>Choose <em>File > New Module...</em></li>
                        <li>Select Import .JAR/.AAR Package</li>
                        <li>Filename: Browse to your downloaded worldwind.aar file</li>
                        <li>Subproject name: worldwind</li>
                    </ul>
                    <li>Add worldwind dependency to your 'app'</li>
                    <ul>
                        <li>Open app Module Settings... &gt; Dependencies &gt; [+] Module dependency &gt;
                            worldwind &gt; OK
                        </li>
                    </ul>
                </ol>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 4: Add a WorldWindow globe to the MainActivity</h3>
            <div>

                <p>We'll make three simple changes to your 'app' to add a basic globe.</p>
                <p>First, edit the activity_main.xml layout file and replace the TextView with the following FrameLayout.
                The FrameLayout is assigned the 'globe' id which will be referenced in the MainActivity.
                </p>
	            <textarea id="layout-snippet">
    &lt;!--WorldWindow Globe panel--&gt;
    &lt;FrameLayout
        android:id="@+id/globe"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_alignParentLeft="true"
        android:layout_alignParentRight="true"
        android:layout_alignParentTop="true"&gt;&lt;/FrameLayout&gt;
                </textarea>
                <p>Second, create an instance of a WorldWindow in MainActivity.java and attach to the FrameLayout. The following
                code snippet should be added to the MainActivity's onCreate() method.</p>
	        <textarea id="java-snippet">
    // Create a World Window (a GLSurfaceView)...
    WorldWindow wwd = new WorldWindow(getApplicationContext());
    // ... and add some map layers
    wwd.getLayers().addLayer(new BackgroundLayer());
    wwd.getLayers().addLayer(new BlueMarbleLandsatLayer());
    // Add the WorldWindow view object to the layout that was reserved for the globe.
    FrameLayout globeLayout = (FrameLayout) findViewById(R.id.globe);
    globeLayout.addView(wwd);
            </textarea>
            <p>And finally, add the following network access permissions to the AndroidManifest.xml so that
                the globe can download its imagery.</p>
	        <textarea id="manifest-snippet">
    &lt;uses-permission android:name="android.permission.INTERNET"/&gt;
    &lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/&gt;
            </textarea>
            <div class="oj-panel oj-margin">
                <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
                    <h4>activity_main.xml</h4>
                    <div>
                    <textarea id="layout-code">
<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:paddingBottom="@dimen/activity_vertical_margin"
        android:paddingLeft="@dimen/activity_horizontal_margin"
        android:paddingRight="@dimen/activity_horizontal_margin"
        android:paddingTop="@dimen/activity_vertical_margin"
        tools:context="com.example.myapplication.MainActivity">

    <!--WorldWindow Globe panel-->
    <FrameLayout
            android:id="@+id/globe"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:layout_alignParentLeft="true"
            android:layout_alignParentRight="true"
            android:layout_alignParentTop="true"></FrameLayout>
</RelativeLayout>
                    </textarea>
                    </div>
                </div>
            </div>
            <div class="oj-panel oj-margin">
                <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
                    <h4>MainActivity.java</h4>
                    <div>
                    <textarea id="java-code">
package com.example.myapplication;

import android.support.v7.app.AppCompatActivity;
import android.os.Bundle;
import android.widget.FrameLayout;

import gov.nasa.worldwind.WorldWindow;
import gov.nasa.worldwind.layer.BackgroundLayer;
import gov.nasa.worldwind.layer.BlueMarbleLandsatLayer;

public class MainActivity extends AppCompatActivity {

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);

        // Create a World Window (a GLSurfaceView)...
        WorldWindow wwd = new WorldWindow(getApplicationContext());
        // ... and add some map layers
        wwd.getLayers().addLayer(new BackgroundLayer());
        wwd.getLayers().addLayer(new BlueMarbleLandsatLayer());
        // Add the WorldWindow view object to the layout that was reserved for the globe.
        FrameLayout globeLayout = (FrameLayout) findViewById(R.id.globe);
        globeLayout.addView(wwd);
    }
}
                    </textarea>
                    </div>
                </div>
            </div>
            <div class="oj-panel oj-margin">
                <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
                    <h4>AndroidManifest.xml</h4>
                    <div>
                    <textarea id="manifest-code">
<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.myapplication"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
                    </textarea>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 5: Run the 'app' with the globe</h3>
            <div>
                <ol class="oj-ol">
                    <li>Select Run > Run 'app'</li>
                    <li>Choose an Available Emulator or Device and select OK</li>
                </ol>
        <img src="images/hello-worldwind.png" width="200px"/>
            </div>
        </div>

    </div>

    <hr/>

    <h2>How to build the World Wind Library</h2>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 1: Download the Repository from GitHub</h3>
            <div>
                <div class="jumboBtnCont">
                    <a class="jetBtn" href="https://github.com/NASAWorldWind/WorldWindAndroid/archive/master.zip">
                        Download the WorldWind Android Repository</a>
                </div>
                <div>
                    <ol class="oj-ol">
                        <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/archive/master.zip">Download</a> the
                            WorldWind for Android master branch (.zip) or clone it from GitHub
                        </li>
                        <li>Unzip the downloaded project to a folder</li>
                        <li>Open the project with Android Studio, Choose File > Open... and select the unzipped project</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="oj-panel oj-margin">
        <div data-bind="ojComponent: {component: 'ojCollapsible', expanded: false}">
            <h3>Step 2: Build and run the project modules</h3>
            <div>
                <h3>The <em>worldwind</em> module</h3>
                <p>The <em>worldwind</em> module contains the source code for building the worldwind.aar library.
                </p>
                    <ul>
                        <li>To build <em>worldwind</em>, highlight the project and then choose <em>Build > Make Module worldwind</em>.
                        A gradle build script will build the .aar file(s).  You can find the generated file(s) in the
                            worldwind/build/outputs folder.</li>
                        <li>To run the unit tests, choose <em>Run > Run...</em> and then select <em>WorldWind Unit Tests</em>.</li>
                    </ul>

                <h3>The <em>worldwind-tutorials</em> module</h3>
                <p>The <em>worldwind-tutorials</em> module contains several tutorials that demonstrate core World Wind
                    programming concepts. Each tutorial focuses a single feature and/or concept. The worldwind-tutorials
                    app contains a code-viewer so you can quickly see the code used to implement a selected feature.
                    Be sure to examine the source code in this module to learn good World Wind programming techniques.
                </p>
                <p>To run the tutorials, choose <em>Run > Run...</em> and then select <em>worldwind-tutorials</em>, then
                    select a device or emulator.</p>

                <h3>The <em>worldwind-examples</em> module</h3>
                <p>The <em>worldwind-examples</em> module demonstrates many of the features in World Wind and shows you how to
                    implement these features in your own app. Be sure to examine the source code in this project to
                    explore more advanced World Wind programming techniques.
                </p>
                <p>To run the examples, choose <em>Run > Run...</em> and then select <em>worldwind-examples</em>, then
                    select a device or emulator.</p>
            </div>
        </div>
    </div>
</div>