<div class="oj-panel" style="width: 100%;">
    <h1 class="oj-header-border">Downloads</h1>
    <div class="oj-flex oj-flex-items-pad">
        <div class="oj-panel oj-margin" style="width: 100%;">
            <h3 class="oj-header-border">
                Latest Release
            </h3>
            <p>Looking for the current release?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases/latest">
                        Download release <span data-bind="text: latest"></span></a> 
                </li>
            </ul>
            <p><span data-bind="text: latest"></span> is the latest 'tagged' 
                release of the World Wind Android SDK including the Examples and Tutorials.</p>
        </div>
        <div class="oj-panel oj-margin" style="width: 100%;">
            <h3 class="oj-header-border">
                Previous Releases
            </h3>
            <p>Looking for a previous release?</p>
            <ul>
                <li><a href="https://github.com/NASAWorldWind/WorldWindAndroid/releases">
                        Browse the releases</a></li>
            </ul>
            <p>Review the release history.</p>
        </div>
        <div class="oj-panel oj-margin" style="width: 100%">
            <h3 class="oj-header-border">
                JCenter hosting for Maven and Gradle Projects
            </h3>
            <p>The World Wind Android library is available from JCenter for projects that use the
                Maven or Gradle build management systems. Use the group id, artifact id, and versions
                listed below to easily integrate World Wind Android into your project. For an example
                of integrating World Wind Android with your project, see Step 3 of the Build Setup
                <a href="?root=android&androidtopic=getstarted&getstartedtopic=build">here</a>.</p>
            <ul>
                <li>Group Id: <code>gov.nasa.worldwind.android</code></li>
                <li>Artifact Id: <code>worldwind</code></li>
                <li>Version: <code data-bind="text: latestJCenter">undefined</code></li>
                    
            </ul>
            <!--<p>Development builds of the library are also available. You must add the Open Source Software
                JFrog (OJO) repository to properly resolve the development artifacts. An example for Gradle is
                provided below.</p>
            <ul>
                <li>Adding the OJO repository:</li>
                <pre>
    repositories {
        maven {
            url "https://oss.jfrog.org/artifactory/oss-snapshot-local"
        }
    }
                </pre>
                <li>Latest SNAPSHOT Version: <code data-bind="text: latestSnapshot">undefined</code></li>-->
    </div>
</div>