<!--
Home module
-->
<div style="width: 100%">
    <section id="home">
        <nav class="top-bar hide-for-oj-sm ww-banner-image">
            <div class="oj-row bannerCont">
                <div class="justifiedCol headerContent">
                    <h1 class="home-h1">Welcome to NASA World Wind</h1>
                    <h3 class="oj-lg-7 oj-md-8 oj-sm-9 oj-col end">World Wind is a virtual globe technology providing
                        the means to
                        visualize, manipulate and analyze data in a real world virtual representation.
                    </h3>
                </div>
            </div>
            <div class="oj-oj-row bannerBtn">
                <div class="justifiedCol headerContent">
                    <div class="oj-lg-12 oj-md-12 oj-col end">
                        <div class="jumboBtnCont">
                            <a class="jetBtn" href="http://explorer.worldwind.earth">Web Demo</a>
                            <a class="jetBtnExp" href="http://explorer.worldwind.earth">Run in your browser</a>
                        </div>
                        <div class="jumboBtnCont">
                            <a class="jetBtn" href="http://worldwindserver.net/android/latest/worldwind-examples.apk"
                               target="_blank">Android Demo</a>
                            <a class="jetBtnExp" href="http://worldwindserver.net/android/latest/worldwind-examples.apk"
                               target="_blank">Download and Install</a>
                        </div>
                        <div class="jumboBtnCont">
                            <a class="jetBtn" href="http://worldwindserver.net/java/2.0.0/demos/WMSLayerManager.jnlp">Java
                                Example</a>
                            <a class="jetBtnExp"
                               href="http://worldwindserver.net/java/2.0.0/demos/WMSLayerManager.jnlp">Launch Java
                                WebStart</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="justifiedCol">
            <h2 class="home-h2">What is World Wind</h2>
            <p class="home-ptag">
                World Wind is a free, open source API for a virtual globe.
                World Wind allows developers to quickly and easily create
                interactive visualizations of 3D globe, map and geographical information.
                Organizations across the world use World Wind to monitor weather patterns,
                visualize cities and terrain, track the movement of planes, vehicles and ships,
                analyze geospatial data, and educate people about the Earth.
            </p>
            <hr>
            <div>
                <h2 class="home-h2">Features and Benefits</h2>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">It's open source</h3>
                        <p class="home-ptag">
                            Because World Wind is completely open source, extending the API is simple and easy to do,
                            creating a powerful platform for giving any application the means to express,
                            manipulate and analyze spatial data. World Wind technology can be incorporated into
                            Windows, Mac and Linux applications, web pages and web applications, and
                            mobile applications as well.
                        </p>
                    </div>
                    <div class="og-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">Build what you want</h3>
                        <p class="home-ptag">
                            World Wind is different from a 3D globe like Google Earth because it is not a
                            completed application targeted at end users. Instead, it is an SDK (software development
                            kit)
                            that software engineers can use to build their own applications. World Wind provides a
                            geographic rendering engine for powering a wide range of projects, from satellite tracking
                            systems to flight simulators.

                    </div>
                    <div class="oj-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">NASA does the heavy lifting</h3>
                        <p class="home-ptag">
                            With World Wind taking care of the hard work of visualizing geographic data
                            (generating terrain from elevation models, selecting and displaying images from
                            imagery servers, etc), software engineers are free to focus on the solving the
                            problems specific to their own domains and quickly building whatever geospatial
                            applications they choose.
                        </p>
                    </div>

                </div>
            </div>
            <hr>
            <div>
                <h2 class="home-h2">Get Started</h2>
                <div class="oj-flex oj-flex-items-pad">
                    <div class="oj-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">World Wind Android</h3>
                        <p class="home-ptag">
                            Develop a world-class World Wind application for your Android phone or tablet.
                            Complete instructions, tutorials and code are available on the <a href="index.html?root=android">
                            Get Started</a> page. The <a href="https://github.com/NASAWorldWind/WebWorldWind">WorldWindAndroid GitHub
                            repository</a> contains the library, examples and tutorials.</p>
                        </p>
                    </div>
                    <div class="oj-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">Web World Wind</h3>
                        <p class="home-ptag">
                            Create a geo-browser web application or embed a globe in a web page.
                            For more information see the <a href="index.html?root=web&webtopic=guide">Developer Guide.</a>
                            To get right into the code, check out the <a
                                href="https://github.com/NASAWorldWind/WebWorldWind">WebWorldWind GitHub repository</a>.
                        </p>
                    </div>
                    <div class="oj-sm-12 oj-lg-4 oj-flex-item">
                        <h3 class="home-h3">World Wind Java</h3>
                        <p class="home-ptag">Build a cross-platform geospatial desktop application in Java.
                            For lots of examples and documentation see the <a
                                    href="index.html?root=java&javatopic=guide">Developer Guide.</a>
                            Or clone the <a href="https://github.com/NASAWorldWind/WorldWindJava">WorldWindJava GitHub
                                repository</a> and start coding.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
