<!--
Home module
-->
<div style="width: 100%">
    <section id="home">
        <nav class="top-bar hide-for-oj-sm ww-banner-image">
            <div class="oj-row bannerCont">
                <div class="justifiedCol headerContent">
                    <h1 class="home-h1">Welcome to NASA World Wind</h1>
                    <h3 class="oj-lg-7 oj-md-8 oj-sm-9 oj-col end">World Wind is a virtual globe technology providing the means to
                        visualize, manipulate and analyze data in a real world virtual representation.
                    </h3>
                </div>
            </div>
            <div class="oj-oj-row bannerBtn">
                <div class="justifiedCol headerContent">
                    <div class="oj-lg-12 oj-md-12 oj-col end">
                        <div class="jumboBtnCont" >
                            <a class="headerBtn" href="http://explorer.worldwind.earth">Web Demo</a>
                            <a class="headerBtnExp" href="http://explorer.worldwind.earth">Run in your browser</a>
                        </div>
                        <div class="jumboBtnCont">
                            <a class="headerBtn" href="http://worldwindserver.net/android/latest/worldwind-examples.apk" target="_blank">Android Demo</a>
                            <a class="headerBtnExp" href="http://worldwindserver.net/android/latest/worldwind-examples.apk" target="_blank">Download and Install</a>
                        </div>
                        <div class="jumboBtnCont">
                            <a class="headerBtn" href="http://worldwindserver.net/java/2.0.0/demos/WMSLayerManager.jnlp">Java Example</a>
                            <a class="headerBtnExp" href="http://worldwindserver.net/java/2.0.0/demos/WMSLayerManager.jnlp">Launch Java WebStart</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <section>
        <div class="justifiedCol">
            <h2 class="home-h2">What is World Wind</h2>
            <p class="home-ptag">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <hr>
            <h2 class="home-h2">Features and Benefits</h2>
            <p class="home-ptag">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
            <hr>
            <h2 class="home-h2">Get Started</h2>
            <p class="home-ptag">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </section>
</div>
