<div class="oj-panel">
    <h1 class="oj-header-border">Overview</h1>
    <div>
        <p>World Wind is a free, open source API for a virtual globe.  Written in
            Java so as to be cross-platform and easy-to-use, World Wind allows developers 
            to quickly and easily create interactive visualizations of 3D globe, 
            map and geographical information.
        </p><p>      
            Organizations across the world use World Wind to monitor weather patterns, 
            visualize cities and terrain, track the movement of planes, vehicles 
            and ships, analyze geospatial data, and educate people about the Earth.
        </p><p>      
            Because World Wind is completely open source, extending the API is simple 
            and easy to do, creating a powerful platform for giving any application 
            the means to express, manipulate and analyze spatial data.  World Wind 
            technology can be incorporated into Windows, Mac and Linux applications, 
            web pages and web applications, and soon, mobile applications as well.
        </p><p>      
            Curated by NASA, work on World Wind began in 2002, released under the 
            NASA Open Source Agreement (NOSA).  The project was ported to Java in 
            2006, and in November 2009 was awarded NASA Software of the Year.  Since 
            then it has developed a global community of users, from government, 
            education, the non-profit sector, as well as private industry.
        </p><p>      
            World Wind is different from a 3D globe like Google Earth because it 
            is not a completed application targeted at end users.  Instead, it is 
            an SDK (software development kit) that software engineers can use to 
            build their own applications.  World Wind provides a geographic rendering 
            engine for powering a wide range of projects, from satellite tracking 
            systems to flight simulators.
        </p><p>      
            With World Wind taking care of the hard work of visualizing geographic 
            data (generating terrain from elevation models, selecting and displaying 
            images from imagery servers, etc), software engineers are free to focus 
            on the solving the problems specific to their own domains and quickly 
            building whatever geospatial applications they choose.

    </div>
</div>
