<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="NASA WorldWind Software Development Kits (SDKs) for geo-spatial 3D virtual
        globe visualization via OpenGL/WebGL on Android, Java and JavaScript/HTML5 platforms.">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/theme.css">
        <title>{{ block "title" . }}
            {{ .Title }}
        {{ end }}</title>
        {{ partial "google_analytics.html" . }}
        <script>
            /**
             * Function that tracks a click on an outbound link in Analytics.
             * This function takes a valid URL string as an argument, and uses that URL string
             * as the event label. Setting the transport method to 'beacon' lets the hit be sent
             * using 'navigator.sendBeacon' in browser that support it.
             */
            var trackOutboundLink = function(url) {
                ga('send', 'event', 'outbound', 'click', url, {
                    'transport': 'beacon',
                    'hitCallback': function(){document.location = url;}
                });
            }
        </script>
    </head>
    <body>
        <!-- Navigation Bar -->     
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img id="logo-size" src="/img/nasa-logo.svg" alt="Blue NASA Meatball"/></a>
                    <a class="navbar-brand" href="/">NASA WorldWind</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/about">About</a></li>
                        <li><a href="/web">Web</a></li>
                        <li><a href="/android">Android</a></li>
                        <li><a href="/java">Java</a></li>
                        <li><a href="/serverkit">Server Kit</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        {{ block "main" . }}
        {{ end }}

        <br>
        <br>
        <br>

        {{ partial "footer.html" . }}
       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>