{{ define "head-title" }}
    {{ if eq .Params.mainpage true }}
        NASA WorldWind
    {{ else if isset .Params "projectname" }}
        {{ if gt (len .Params.projectname) 0 }}
            {{ .Params.projectname }} - {{ .Params.title }}
        {{ else }}
            NASA WorldWind - {{ .Params.title }}    
        {{ end }}
    {{ else }}
        NASA WorldWind - {{ .Params.title }}
    {{ end }}
{{ end }}

{{ define "main-block" }}
    {{ if eq .Params.mainpage true }}
        {{ partial "home.html" . }}
    {{ else if eq .Params.projectpage true }}
        {{ partial "project-navbar.html" . }}
        <div class="container">
            {{ .Content }}
        </div>
    {{ else }}   
        {{ partial "project-navbar.html" . }}
        <div class="container">
            {{ .Content }}
            {{ range .Data.Pages.ByTitle }}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <a href="{{ .Permalink }}"><h3 class="panel-title">{{ .Params.title }}</h3></a>
                    </div>
                    <div class="panel-body">
                        {{ if isset .Params "listimage" }}
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a href="{{ .Permalink }}"><img class="img-responsive" src="{{ .Params.listimage }}"></a>
                                    </div>
                                    <div class="col-md-8">
                                        <a href="{{ .Permalink }}"><p style="color: black;">{{ .Params.listdescription }}</p></a>
                                    </div>
                                </div>
                            </div>
                        {{ else }}
                            <a href="{{ .Permalink }}"><p style="color: black;">{{ .Params.listdescription }}</p></a>
                        {{ end }}
                    </div>
                </div>
                <hr>
            {{ end }}
        </div>
    {{ end }}
{{ end }}