<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid">
        <div class="jumbotron banner">
            <div class="container">
                <div class="row">
                    <h1 id="bootstrap-override-h1">Welcome to NASA WorldWind</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="text-center">What is WorldWind?</h2>
        <p>WorldWind is a free, open source API for a virtual globe. WorldWind allows developers to quickly and
            easily create interactive visualizations of 3D globe, map and geographical information. Organizations
            across the world use WorldWind to monitor weather patterns, visualize cities and terrain, track
            vehicle movement, analyze geospatial data, and educate people about the Earth.</p>
        <div class="row">
            <div class="text-center">
                <p><a class="btn btn-primary btn-lg" href="http://explorer.worldwind.earth/" role="button">See
                the demo</a></p>
            </div>
        </div>
        <br>
    </div>

    <hr>

    <div class="container">
        <h2 class="text-center">Features and Benefits</h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">It's open source</h3>
                <p>Because WorldWind is completely open source, extending the API is simple and easy to do. This
                    creates a powerful platform for giving any application the means to express, manipulate and
                    analyze spatial data. WorldWind technology can be incorporated into a wide range of
                    applications, including Windows, Mac, Linux, web, and
                    mobile devices.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Build what you want</h3>
                <p>WorldWind is different from a 3D globe like Google Earth because it is not an application. Instead, it is an SDK (software development kit) that software engineers can use to build their own applications. WorldWind provides a geographic rendering engine for powering a wide range of projects, from satellite tracking systems to flight simulators.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">NASA does the heavy lifting</h3>
                <p>With WorldWind handling the hard work of visualizing geographic data (generating terrain from
                    elevation models, selecting and displaying images from imagery servers, etc), software engineers are free to focus on solving the problems specific to their own domains and quickly building whatever geospatial applications they choose.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <h2 class="text-center">Get Started</h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Web WorldWind</h3>
                <p>Create a geo-browser web application or embed a globe in a web page. For more information see the Developer Guide. To get right into the code, check out the <a href="https://github.com/NASAWorldWind/WebWorldWind">WebWorldWind GitHub repository</a>.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">WorldWind Android</h3>
                <p>Develop a world-class WorldWind application for your Android phone or tablet. Instructions,
                    tutorials, and code are available on the Get Started page. The <a
                            href="https://github.com/NASAWorldWind/WorldWindAndroid">WorldWindAndroid GitHub repository</a> contains the library, examples and tutorials.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">WorldWind Java</h3>
                <p>Build a cross-platform geospatial desktop application in Java. For lots of examples and documentation see the Developer Guide. Or clone the <a href="https://github.com/NASAWorldWind/WorldWindJava">WorldWindJava GitHub repository</a> and start coding.</p>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <br>
        <br>
        <p class="container text-center">WorldWind's source code, official releases, engineering roadmap, issue
            tracking and
            more are
        hosted by GitHub and managed by the NASA WorldWind development team.</p>
        <p class="container text-center"><a href="https://github.com/NASAWorldWind/"><img
                src="./img/github-mark-32.png">
            github.com/nasaworldwind</a></p>
    </div>