<!-- Main jumbotron for a primary marketing message or call to action -->
<script src="https://files.worldwind.arc.nasa.gov/artifactory/web/0.9.0/worldwind.min.js" type="text/javascript"></script>
<canvas id="worldWindow" style="width: 100%; height: auto; background-color: black;">
    Your browser does not support HTML5 Canvas.
</canvas>

<script type="text/javascript">
    var longitudeIncrement = -1.0e-2, // look-at longitude moves -0.01 degrees every animation frame
        timeIncrement = 10.0e3, // time advances 10 seconds every animation frame
        wwd;

    // Define the event listener to initialize Web WorldWind.
    function onWindowLoaded() {
        // Create a WorldWindow for the canvas.
        wwd = new WorldWind.WorldWindow("worldWindow");

        // Add some image layers to the WorldWindow's globe.
        wwd.addLayer(new WorldWind.BMNGOneImageLayer());
        wwd.addLayer(new WorldWind.BMNGLayer());
        wwd.addLayer(new WorldWind.AtmosphereLayer());

        // Place the navigator looking from the prime meridian toward the north pole.
        wwd.navigator.lookAtLocation.latitude = 40;
        wwd.navigator.lookAtLocation.longitude = 0;
        wwd.navigator.heading = 0;
        wwd.navigator.tilt = 30;
        wwd.navigator.range = 9.0e6;

        // Set an initial time of 16 hours since the epoch for the starfield layer and the atmosphere layer.
        var currentTime = 16 * 3600e3;
        wwd.layers[0].time = new Date(currentTime);
        wwd.layers[2].time = new Date(currentTime);

        // Begin the animation.
        window.requestAnimationFrame(onAnimationFrame);
    }

    function onAnimationFrame() {
        // Move the look-at longitude every frame.
        var navigator = wwd.navigator;
        navigator.lookAtLocation.longitude = navigator.lookAtLocation.longitude + longitudeIncrement;

        // Advance time for the starfield layer and the atmosphere layer every frame.
        var simulatedTime = wwd.layers[0].time.getTime() + timeIncrement;
        wwd.layers[0].time = new Date(simulatedTime);
        wwd.layers[2].time = new Date(simulatedTime);

        // Redraw the WorldWindow and continue the animation.
        wwd.redraw();
        window.requestAnimationFrame(onAnimationFrame);
    }

    // Register an event listener to be called when the page is loaded.
    window.addEventListener("load", onWindowLoaded, false);
</script>

    <div class="container">
        <h2 class="text-center">What is WorldWind?</h2>
        <p>WorldWind is a free, open source API for a virtual globe. WorldWind allows developers to quickly and
            easily create interactive visualizations of 3D globe, map and geographical information. Organizations
            across the world use WorldWind to monitor weather patterns, visualize cities and terrain, track
            vehicle movement, analyze geospatial data, and educate people about the Earth.</p>
        <div class="row">
            <div class="text-center">
                <p><a target="_blank" class="btn btn-primary btn-lg" href="http://explorer.worldwind.earth/" role="button">See
                the demo</a></p>
            </div>
        </div>
        <br>
    </div>

    <hr>

    <div class="container">
        <h2 class="text-center">Features and Benefits</h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">It's open source</h3>
                <p>Because WorldWind is completely open source, extending the API is simple and easy to do. This
                    creates a powerful platform for giving any application the means to express, manipulate and
                    analyze spatial data. WorldWind technology can be incorporated into a wide range of
                    applications, including Windows, Mac, Linux, web, and
                    mobile devices.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">Build what you want</h3>
                <p>WorldWind is different from a 3D globe like Google Earth because it is not an application. Instead, it is an SDK (software development kit) that software engineers can use to build their own applications. WorldWind provides a geographic rendering engine for powering a wide range of projects, from satellite tracking systems to flight simulators.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">NASA does the heavy lifting</h3>
                <p>With WorldWind handling the hard work of visualizing geographic data (generating terrain from
                    elevation models, selecting and displaying images from imagery servers, etc), software engineers are free to focus on solving the problems specific to their own domains and quickly building whatever geospatial applications they choose.</p>
            </div>
        </div>
    </div>

    <hr>

    <div class="container">
        <h2 class="text-center">Get Started</h2>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-center">Web WorldWind</h3>
                <p>Create a geo-browser web application or embed a globe in a web page. For more information see the
                    project's <a href="/web">home page</a>. To get right into the code, check out the <a
                            href="https://github.com/NASAWorldWind/WebWorldWind">Web WorldWind GitHub repository</a>.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">WorldWind Android</h3>
                <p>Develop a world-class WorldWind application for your Android phone or tablet. Instructions,
                    tutorials, and examples are available on the project's <a href="/android">home page</a>. The <a
                            href="https://github.com/NASAWorldWind/WorldWindAndroid">WorldWind Android GitHub
                        repository</a> contains the library and code.</p>
            </div>
            <div class="col-md-4">
                <h3 class="text-center">WorldWind Java</h3>
                <p>Build a cross-platform geospatial desktop application in Java. For lots of examples and
                    documentation go to the project's <a href="/java">home page</a>. Or clone the <a
                            href="https://github.com/NASAWorldWind/WorldWindJava">WorldWind Java GitHub repository</a> and start coding.</p>
            </div>
        </div>
    </div>

    <hr>

    <div>
        <br>
        <br>
        <p class="container text-center">WorldWind's source code, official releases, engineering roadmap, issue
            tracking and
            more are
        hosted by GitHub and managed by the NASA WorldWind development team.</p>
        <p class="container text-center"><a href="https://github.com/NASAWorldWind/"><img
                src="./img/github-mark-32.png" alt="GitHub octocat logo">github.com/nasaworldwind</a></p>
    </div>