<hr>
<div class="container">
    <div class="row row-centered">            
        <div class="col-xs-6 col-centered col-max">
            <a href="/java/">Get Started</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/java/features/">Features</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/java/tutorials/">Tutorials</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/java/examples/">Examples</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/java/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>