<div class="container">
    <h2>{{ .Params.projectname }}</h2>
</div>
<hr>
<div class="container">
    <div class="row row-centered">            
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectslug }}/">Get Started</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectslug }}/tutorials/">Tutorials</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectslug }}/examples/">Examples</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectslug }}/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>