<div class="container">
    <h1>{{ .Params.title }}</h1>
</div>
<hr>
<div class="container">
    <div class="row row-centered">            
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}">Overview</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/get-started/">Get Started</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/developer-guide/">Developer Guide</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/tutorials/">Tutorials</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/examples/">Examples</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>