<div class="container">
    <h2>{{ .Params.projectname }}</h2>
</div>
<hr>
<div class="container">
    <div class="row row-centered">            
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/">Get Started</a>
        </div>
        <!--<div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/developer-guide/">Developer Guide</a>
        </div>-->
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/tutorials/">Tutorials</a>
        </div>
        <!--<div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/examples/">Examples</a>
        </div>-->
        <div class="col-xs-6 col-centered col-max">
            <a href="/{{ .Params.projectSlug }}/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>