<div class="container">
    <h2>WorldWind Server Kit</h2>
</div>
<hr>
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered col-max">
            <a href="/serverkit/">Overview</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/serverkit/get-started/">Get Started</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/serverkit/features/">Features</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/serverkit/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>