<div class="container">
    <h2>Web WorldWind</h2>
    <h6 style="margin-left: 5px"> in partnership with <a href="http://www.esa.int/ESA"><img src="/img/esa-logo.svg" alt="Purple European Space Agency logo" width="75" hspace="3"></h6></a>
</div>
<hr>
<div class="container">
    <div class="row row-centered">
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/">Overview</a>
        </div>            
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/get-started/">Get Started</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/features/">Features</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/examples/">Examples</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/tutorials/">Tutorials</a>
        </div>
        <div class="col-xs-6 col-centered col-max">
            <a href="/web/docs/">Docs</a>
        </div>
    </div>
</div>
<hr>