<canvas id="worldWindow" style="width: 100%; height: auto; background-color: black;">
    Your browser does not support HTML5 Canvas.
</canvas>

<script type="text/javascript">
    var longitudeIncrement = -1.0e-2, // look-at longitude moves -0.01 degrees every animation frame
        timeIncrement = 10.0e3, // time advances 10 seconds every animation frame
        wwd;

    // Define the event listener to initialize Web WorldWind.
    function onWindowLoaded() {
        // Create a WorldWindow for the canvas.
        wwd = new WorldWind.WorldWindow("worldWindow");

        // Add some image layers to the WorldWindow's globe.
        wwd.addLayer(new WorldWind.StarFieldLayer());
        wwd.addLayer(new WorldWind.BMNGOneImageLayer());
        wwd.addLayer(new WorldWind.BMNGLayer());
        wwd.addLayer(new WorldWind.AtmosphereLayer());

        // Place the navigator looking from the prime meridian toward the north pole.
        wwd.navigator.lookAtLocation.latitude = 40;
        wwd.navigator.lookAtLocation.longitude = 0;
        wwd.navigator.heading = 0;
        wwd.navigator.tilt = 30;
        wwd.navigator.range = 9.0e6;

        // Set an initial time of 16 hours since the epoch for the starfield layer and the atmosphere layer.
        var currentTime = 16 * 3600e3;
        wwd.layers[0].time = new Date(currentTime);
        wwd.layers[3].time = new Date(currentTime);

        // Begin the animation.
        window.requestAnimationFrame(onAnimationFrame);
    }

    function onAnimationFrame() {
        // Move the look-at longitude every frame.
        var navigator = wwd.navigator;
        navigator.lookAtLocation.longitude = navigator.lookAtLocation.longitude + longitudeIncrement;

        // Advance time for the starfield layer and the atmosphere layer every frame.
        var simulatedTime = wwd.layers[0].time.getTime() + timeIncrement;
        wwd.layers[0].time = new Date(simulatedTime);
        wwd.layers[3].time = new Date(simulatedTime);

        // Redraw the WorldWindow and continue the animation.
        wwd.redraw();
        window.requestAnimationFrame(onAnimationFrame);
    }

    // Register an event listener to be called when the page is loaded.
    window.addEventListener("load", onWindowLoaded, false);
</script>