{{ define "main-block" }}
<h1>World Wind Android</h1>
{{ partial "project-navbar" . }}
<h6>&lt Tutorials</h6>
<p>The following tutorials walk through how to use key elements of the World Wind Android library.
    <div class="container">
    {{ range .Data.Pages.ByTitle.Reverse }}
        <div class="panel panel-info">
            <div class="panel-heading">
                <a href="#"><h3 class="panel-title">{{ .Params.tutorialTitle }}</h3></a>
            </div>
            <div class="panel-body">
                {{ .Content }}
            </div>
        </div>
    {{ end }}
    </div>
{{ end }}