{{ define "head-title" }}
    WorldWind Java - {{ .Params.Title }}
{{ end }}

{{ define "main-block" }}
    <div class="container">
        <h2>WorldWind Java</h2>
    </div>
    <hr>
    <div class="container">
        <div class="row row-centered">            
            <div class="col-xs-6 col-centered col-max">
                <a href="/java/">Get Started</a>
            </div>
            <div class="col-xs-6 col-centered col-max">
                <a href="/java/tutorials/">Tutorials</a>
            </div>
            <div class="col-xs-6 col-centered col-max">
                <a href="/java/examples/">Examples</a>
            </div>
            <div class="col-xs-6 col-centered col-max">
                <a href="/java/docs/">Docs</a>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        {{ .Content }}
    </div>
{{ end }}